#include "Resources.h"

RES_AREA_STENCIL
RES_MAP_BRUSHES
RES_MAP_COLORS
RES_COLOR_PALETTE
RES_BACKGROUND
RES_SPLASHSCREEN
RES_BRUSHES_STENCIL

RES_PASSTHROUGH_VERT
RES_MIXER_FRAG

RES_STROKE_VERT
RES_STROKE_FRAG
RES_STROKE_GEOM

RES_MENU_BACKGROUND
RES_MENU_HU_CLEAR_ON
RES_MENU_HU_CLEAR_OFF
RES_MENU_HU_SAVE_ON
RES_MENU_HU_SAVE_OFF

RES_LICENSE_XML
RES_LICENSE_KEY

RES_GLOW_BRUSH_0
RES_GLOW_BRUSH_1
RES_GLOW_BRUSH_2
RES_GLOW_BRUSH_3
RES_GLOW_ERASER
RES_GLOW_COLOR_0
RES_GLOW_COLOR_1
RES_GLOW_COLOR_2
RES_GLOW_COLOR_3
RES_GLOW_COLOR_4
RES_GLOW_COLOR_5
RES_GLOW_COLOR_6
RES_GLOW_COLOR_7
